<!-- About Start -->
<div id="about" class="about-area-2 section-padding-07">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-lg-left text-center">
        <div class="thumnail-wrap">
          <div class="about-thumbnails">
            <img
              src="/images/shape/about2shape1.png"
              alt="shape"
              class="about-shape-1 img-fluid"
            />
            <img
              src="/images/shape/about2shape2.png"
              alt="shape"
              class="about-shape-2"
            />
            <div class="main-img">
              <img
                src="/images/h2about1.jpg"
                alt="About-img"
                class="about-img-1 img-fluid"
              />
              <img
                src="/images/h2about2.jpg"
                alt="About-img"
                class="about-img-2 img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-content">
          <div class="about-title">
            <span class="title-numb">1er</span>
            <div class="section-title">
              <h2 class="title">
                Evento de Kubernetes <br /> en La Rioja
              </h2>
            </div>
            <p class="section-paragraph">
              Bienvenido al evento de Kubernetes en Logroño, La Rioja. Estamos
              entusiasmados de ofrecerte una experiencia única donde explorarás
              la infraestructura moderna. Únete a nosotros para aprender,
              conectar y crecer en el emocionante mundo de Kubernetes y más
              allá.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="abot-event">
              <img src="/images/calender-icon.png" alt="calender" />
              <h5>¿Cuando?</h5>
              <p>6 Abril 2024<br />9:30</p>
            </div>
          </div>
          <div class="col-6">
            <div class="abot-event">
              <img src="/images/world-icon.png" alt="calender" />
              <h5>¿Donde?</h5>
              <p>
                <a
                  target="_blank"
                  href="https://maps.app.goo.gl/iGPRphQ4kdbz37dw6"
                >
                  Federación de Empresas de La Rioja
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
