---
interface Props {
  date: string;
}

const { date } = Astro.props;
---

<!-- Countdown Start -->
<div class="exvent-countdown countdown" data-countdown={date}>
  <div class="single-countdown">
    <span class="count countdown__time daysLeft"></span>
    <span class="value countdown__time daysText"></span>
  </div>
  <div class="single-countdown countdown-2">
    <span class="count countdown__time hoursLeft"></span>
    <span class="value countdown__time hoursText"></span>
  </div>
  <div class="single-countdown countdown-3">
    <span class="count countdown__time minsLeft"></span>
    <span class="value countdown__time minsText"></span>
  </div>
  <div class="single-countdown countdown-4">
    <span class="count countdown__time secsLeft"></span>
    <span class="value countdown__time secsText"></span>
  </div>
</div>
<!-- Countdown End -->

<script>
  function makeTimer(endDate: string, element: Element) {
    var today = new Date();
    var bigDay = new Date(endDate),
      msPerDay = 24 * 60 * 60 * 1000,
      timeLeft = bigDay.getTime() - today.getTime(),
      e_daysLeft = timeLeft / msPerDay,
      daysLeft = Math.floor(e_daysLeft),
      e_hrsLeft = (e_daysLeft - daysLeft) * 24,
      hrsLeft = Math.floor(e_hrsLeft),
      e_minsLeft = (e_hrsLeft - hrsLeft) * 60,
      minsLeft = Math.floor((e_hrsLeft - hrsLeft) * 60),
      secsLeft = Math.floor((e_minsLeft - minsLeft) * 60);

    var yearsLeft = 0;
    var monthsLeft = 0;
    var weeksLeft = 0;

    var yearsLeftStr = yearsLeft < 10 ? '0' + yearsLeft : yearsLeft,
      monthsLeftStr = monthsLeft < 10 ? '0' + monthsLeft : monthsLeft,
      weeksLeftStr = weeksLeft < 10 ? '0' + weeksLeft : weeksLeft,
      daysLeftStr = daysLeft < 10 ? '0' + daysLeft : daysLeft,
      hrsLeftStr = hrsLeft < 10 ? '0' + hrsLeft : hrsLeft,
      minsLeftStr = minsLeft < 10 ? '0' + minsLeft : minsLeft,
      secsLeftStr = secsLeft < 10 ? '0' + secsLeft : secsLeft,
      yearsText = yearsLeft > 1 ? 'Años' : 'Año',
      monthsText = monthsLeft > 1 ? 'Meses' : 'Mes',
      weeksText = weeksLeft > 1 ? 'Semanas' : 'Semana',
      daysText = daysLeft > 1 ? 'Días' : 'Día',
      hourText = hrsLeft > 1 ? 'Horas' : 'Hora',
      minsText = minsLeft > 1 ? 'Minutos' : 'Minuto',
      secText = secsLeft > 1 ? 'Segundos' : 'Segundo';

    var markup = {
      wrapper: element.querySelectorAll('.countdown__item'),
      year: element.querySelectorAll('.yearsLeft'),
      month: element.querySelectorAll('.monthsLeft'),
      week: element.querySelectorAll('.weeksLeft'),
      day: element.querySelectorAll('.daysLeft'),
      hour: element.querySelectorAll('.hoursLeft'),
      minute: element.querySelectorAll('.minsLeft'),
      second: element.querySelectorAll('.secsLeft'),
      yearTxt: element.querySelectorAll('.yearsText'),
      monthTxt: element.querySelectorAll('.monthsText'),
      weekTxt: element.querySelectorAll('.weeksText'),
      dayTxt: element.querySelectorAll('.daysText'),
      hourTxt: element.querySelectorAll('.hoursText'),
      minTxt: element.querySelectorAll('.minsText'),
      secTxt: element.querySelectorAll('.secsText')
    };

    var elNumber = markup.wrapper.length;
    element.classList.add('item-' + elNumber);
    markup.year.forEach(function (el) {
      el.innerHTML = yearsLeftStr.toString();
    });
    markup.yearTxt.forEach(function (el) {
      el.innerHTML = yearsText.toString();
    });
    markup.month.forEach(function (el) {
      el.innerHTML = monthsLeftStr.toString();
    });
    markup.monthTxt.forEach(function (el) {
      el.innerHTML = monthsText.toString();
    });
    markup.week.forEach(function (el) {
      el.innerHTML = weeksLeftStr.toString();
    });
    markup.weekTxt.forEach(function (el) {
      el.innerHTML = weeksText.toString();
    });
    markup.day.forEach(function (el) {
      el.innerHTML = daysLeftStr.toString();
    });
    markup.dayTxt.forEach(function (el) {
      el.innerHTML = daysText.toString();
    });
    markup.hour.forEach(function (el) {
      el.innerHTML = hrsLeftStr.toString();
    });
    markup.hourTxt.forEach(function (el) {
      el.innerHTML = hourText.toString();
    });
    markup.minute.forEach(function (el) {
      el.innerHTML = minsLeftStr.toString();
    });
    markup.minTxt.forEach(function (el) {
      el.innerHTML = minsText.toString();
    });
    markup.second.forEach(function (el) {
      el.innerHTML = secsLeftStr.toString();
    });
    markup.secTxt.forEach(function (el) {
      el.innerHTML = secText.toString();
    });
  }

  document.querySelectorAll('.countdown').forEach((element: any) => {
    const endDate = element.dataset.countdown;
    setInterval(() => {
      makeTimer(endDate, element);
    }, 0);
  });
</script>
