---
import TicketsButton from './TicketsButton.astro';
---

<!-- CTA Area Start -->
<div
  class="cta-area section-padding-04"
  style="background-image: url(/images/bg/footer_bg1.jpg);"
>
  <img src="/images/shape/cta_shape_1.png" alt="Shape" class="cta-shape-1" />
  <img src="/images/shape/cta_shape_2.png" alt="Shape" class="cta-shape-2" />
  <img src="/images/shape/cta_shape_3.png" alt="Shape" class="cta-shape-3" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <div class="section-title-wrap">
          <div class="section-title text-center">
            <h2 class="title white">Reserva tu sitio ahora</h2>
          </div>
        </div>
        <TicketsButton />
      </div>
    </div>
  </div>
</div>
<!-- CTA Area End -->
