<!-- CTA Area Start -->
<div
  class="cta-area section-padding-08"
  style="background-image: url(/images/bg/footer_bg1.jpg);"
>
  <div class="section-traingle-shape"></div>
  <img src="/images/shape/cta_shape_1.png" alt="Shape" class="cta-shape-1" />
  <img src="/images/shape/cta_shape_2.png" alt="Shape" class="cta-shape-2" />
  <img src="/images/shape/cta_shape_3.png" alt="Shape" class="cta-shape-3" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <div class="section-title-wrap">
          <div class="section-title text-center">
            <h2 class="title white">Book your seat Now</h2>
          </div>
        </div>
        <a href="pricing.html" class="btn price-btn btn-orange"> Book a seat</a>
      </div>
    </div>
  </div>
</div>
<!-- CTA Area End -->
