---
import Countdown from '../components/Countdown.astro';
---

<!-- Hero Start -->
<div
  class="section exvent-hero-section-02"
  style="background-image: url(/images/bg/hero_bg2.jpg);"
>
  <img
    class="shape-1 img-fluid"
    src="/images/shape/hero-fade-shape1.png"
    alt="Shape"
  />
  <img
    class="shape-2 img-fluid"
    src="/images/shape/hero-fade-shape2.png"
    alt="Shape"
  />
  <div class="hero-shape-3"></div>

  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-7">
        <div class="exvent-hero-title text-center">
          <h1 class="title" data-aos="fade-down" data-aos-delay="600">
            Business
          </h1>
          <h5 class="sub-title" data-aos="fade-down" data-aos-delay="600">
            Conference 2024
          </h5>
          <img
            src="/images/shape/hero-2-shape1.png"
            alt="Shape"
            class="shape-3 img-fluid"
            data-aos="fade-right"
            data-aos-delay="400"
          />
        </div>
      </div>
    </div>
    <div
      class="row justify-content-center"
      data-aos="fade-left"
      data-aos-delay="650"
    >
      <div class="col-md-10 text-center">
        <Countdown date="2024/04/06" />
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->
