<!-- Schedule Area Start -->
<div class="schedule-area schedule-area-2 section-padding-02">
  <img
    src="/images/shape/schedule_shape3.png"
    class="schedule-shape3"
    alt="Shape3"
  />
  <img
    src="/images/shape/schedule_shape4.png"
    class="schedule-shape4"
    alt="Shape4"
  />
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-wrap">
          <div class="section-title text-center">
            <h5 class="sub-title orange">Agenda</h5>
            <h2 class="title">Planifica tu día con nosotros</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-0 align-items-start">
      <div class="col-12">
        <div class="tab-content">
          <div class="tab-pane show active">
            <div class="schedule-wrapper">
              <div class="single-schedule">
                <div class="row g-0 align-items-center shedule-row">
                  <div class="col-lg-3 col-12">
                    <div class="schedule-thumbnail">
                      <div class="schedule-time">
                        <h3 class="time">12</h3>
                        <div class="month-time">
                          <span class="month">August</span>
                          <span class="duration-event">09:00 - 11:00 AM</span>
                        </div>
                      </div>
                      <img
                        src="/images/thumbnails/schedule_thumb1.png"
                        alt="Thumbnail"
                        class="schedule-thumb-img"
                      />
                    </div>
                  </div>
                  <div class="col-lg-9 col-12">
                    <div class="schedule-content-wrap">
                      <div class="schedule-content">
                        <div class="schedule-location">
                          <p>
                            <span
                              ><i class="fas fa-map-marker-alt"></i>
                            </span>Monthon city hall, New York
                          </p>
                        </div>
                        <h4 class="schedule-title">
                          Registration for opening workshop
                        </h4>
                        <div class="schedule-descrip">
                          <p>
                            We’re inviting the top creatives in the tech
                            industry from all over the world to come learn,
                            grow, scrape their knees, try new things, to be
                            vulnerable, epic adventures
                          </p>
                          <p
                            class="collapse hidden-desc show"
                            id="collapseContent1"
                          >
                            epic adventures Meh synth Schlitz, tempor duis
                            single-origin coffee ea next level ethnic
                            fingerstache fanny pack nostrud. Photo booth anim
                            8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia
                            esse flexitarian Truffaut synth art party deep v
                            chillwave.
                          </p>
                        </div>
                      </div>
                      <a
                        class="minus-btn"
                        data-bs-toggle="collapse"
                        href="#collapseContent1"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseContent1"
                      >
                        <div class="plus-icon-1 active">
                          <div class="plus-icon-shape active-plus"></div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row g-0 align-items-center shedule-row">
                  <div class="col-lg-3 col-12">
                    <div class="schedule-thumbnail">
                      <div class="schedule-time">
                        <h3 class="time">12</h3>
                        <div class="month-time">
                          <span class="month">August</span>
                          <span class="duration-event">12:30 - 02:00 PM</span>
                        </div>
                      </div>
                      <img
                        src="/images/thumbnails/schedule_thumb2.png"
                        alt="Thumbnail"
                        class="schedule-thumb-img"
                      />
                    </div>
                  </div>
                  <div class="col-lg-9 col-12">
                    <div class="schedule-content-wrap">
                      <div class="schedule-content">
                        <div class="schedule-location">
                          <p>
                            <span
                              ><i class="fas fa-map-marker-alt"></i>
                            </span>Monthon city hall, New York
                          </p>
                        </div>
                        <h4 class="schedule-title">
                          Meeting with world class investors
                        </h4>
                        <div class="schedule-descrip">
                          <p>
                            We’re inviting the top creatives in the tech
                            industry from all over the world to come learn,
                            grow, scrape their knees, try new things, to be
                            vulnerable,
                          </p>
                          <p class="collapse hidden-desc" id="collapseContent2">
                            epic adventures Meh synth Schlitz, tempor duis
                            single-origin coffee ea next level ethnic
                            fingerstache fanny pack nostrud. Photo booth anim
                            8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia
                            esse flexitarian Truffaut synth art party deep v
                            chillwave.
                          </p>
                        </div>
                      </div>
                      <a
                        class="minus-btn"
                        data-bs-toggle="collapse"
                        href="#collapseContent2"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseContent2"
                      >
                        <div class="plus-icon-2">
                          <div class="plus-icon-shape"></div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row g-0 align-items-center shedule-row">
                  <div class="col-lg-3 col-12">
                    <div class="schedule-thumbnail">
                      <div class="schedule-time">
                        <h3 class="time">12</h3>
                        <div class="month-time">
                          <span class="month">August</span>
                          <span class="duration-event">02:30 - 05:30 PM</span>
                        </div>
                      </div>
                      <img
                        src="/images/thumbnails/schedule_thumb3.png"
                        alt="Thumbnail"
                        class="schedule-thumb-img"
                      />
                    </div>
                  </div>
                  <div class="col-lg-9 col-12">
                    <div class="schedule-content-wrap">
                      <div class="schedule-content">
                        <div class="schedule-location">
                          <p>
                            <span
                              ><i class="fas fa-map-marker-alt"></i>
                            </span>Monthon city hall, New York
                          </p>
                        </div>
                        <h4 class="schedule-title">
                          Discussion about benefits of online meetings
                        </h4>
                        <div class="schedule-descrip">
                          <p>
                            We’re inviting the top creatives in the tech
                            industry from all over the world to come learn,
                            grow, scrape their knees, try new things, to be
                            vulnerable,
                          </p>
                          <p class="collapse hidden-desc" id="collapseContent3">
                            epic adventures Meh synth Schlitz, tempor duis
                            single-origin coffee ea next level ethnic
                            fingerstache fanny pack nostrud. Photo booth anim
                            8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia
                            esse flexitarian Truffaut synth art party deep v
                            chillwave.
                          </p>
                        </div>
                      </div>
                      <a
                        class="minus-btn"
                        data-bs-toggle="collapse"
                        href="#collapseContent3"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseContent3"
                      >
                        <div class="plus-icon-3">
                          <div class="plus-icon-shape"></div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Schedule Area End -->
