<!-- Brand Start -->
<div id="sponsors" class="brand-area section-padding-01 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-wrap">
          <div class="section-title text-center">
            <h5 class="sub-title orange">Sponsors</h5>
            <h2 class="title">Ellos lo hacen posible</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-md-3 col-6 d-flex align-items-center">
        <div class="brand-item">
          <a
            target="_blank"
            rel="nofollow"
            href="https://developers.google.com/community/devfest"
          >
            <img src="/images/sponsor/google.svg" alt="Google Developers" />
          </a>
        </div>
      </div>
      <div class="col-md-3 col-6 d-flex align-items-center">
        <div class="brand-item">
          <a target="_blank" rel="nofollow" href="https://bosonit.com">
            <img class="mb-2" src="/images/sponsor/bosonit.svg" alt="Bosonit" />
          </a>
        </div>
      </div>
      <div class="col-md-3 col-6 d-flex align-items-center">
        <div class="brand-item">
          <a target="_blank" rel="nofollow" href="https://sie.fer.es/">
            <img
              class="px-3"
              src="/images/sponsor/fer.svg"
              alt="Federación de Empresas de La Rioja (FER)"
            />
          </a>
        </div>
      </div>
      <div class="col-md-5 col-8 d-flex align-items-center">
        <div class="brand-item">
          <a
            target="_blank"
            rel="nofollow"
            href="https://www.globant.com/studio/create"
          >
            <img
              src="/images/sponsor/globant-create.svg"
              alt="Globant Create"
            />
          </a>
        </div>
      </div>
      <div class="col-md-3 col-6 d-flex align-items-center">
        <div class="brand-item">
          <a target="_blank" rel="nofollow" href="https://aertic.es/">
            <img
              src="/images/sponsor/aertic.svg"
              alt="Agrupación Empresarial Innovadora del sector TIC de La Rioja (Aertic)"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Brand End -->
</div>
