<!-- Footer Section Start -->
<div class="footer-section footer-section-3">
  <img
    src="/images/shape/footer_shape_h3.png"
    alt="Shape"
    class="footer-shape"
  />
  <div class="footer-widget-social">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <div class="social-title">
            <h4 class="title">Conecta con nosotros</h4>
          </div>
        </div>
        <div class="col-12">
          <ul class="social-list">
            <li>
              <a target="_blank" href="https://cloudnativerioja.com">
                <i class="fa-solid fa-link"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://github.com/cloudnativerioja">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.linkedin.com/company/cloud-native-rioja/"
              >
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.youtube.com/channel/UCPJSWBgMthDZ_VYAopkbA7w"
              >
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Copyright Start -->
  <div class="footer-copyright-area">
    <div class="container">
      <div class="footer-copyright-wrap">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <!-- Footer Copyright Text Start -->
            <div class="copyright-text text-center">
              <p>
                ©2024 -
                <a target="_blank" href="https://cloudnativerioja.com">
                  Cloud Native Rioja
                </a>
              </p>
            </div>
            <!-- Footer Copyright Text End -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Copyright End -->
</div>
<!-- Footer Section End -->
