---
---

<!-- Footer Section Start -->
<div class="footer-section-02 section-padding-02 purple-bg-2">
  <img
    src="/images/shape/footer-2-shape1.png"
    alt="shape"
    class="footer-shape-1"
  />
  <img
    src="/images/shape/footer-2-shape2.png"
    alt="shape"
    class="footer-shape-2"
  />
  <img
    src="/images/shape/footer-2-shape3.png"
    alt="shape"
    class="footer-shape-3"
  />
  <div class="container">
    <div class="row justify-content-sm-start justify-content-center">
      <div class="col-lg-4 col-sm-6 col-7">
        <div class="footer-widget">
          <div class="footer-widget-address">
            <h3 class="widget-title">Vanue Location</h3>
            <div class="widget-content">
              <p class="vanue-date">20-22 July 2024</p>
              <a href="contact.html" class="vanue-location"
                >Zhylianska St, 97б, Kyiv,<br />
                Ukraine.</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-7">
        <div class="footer-widget text-md-center">
          <img src="/images/logo/logo2.png" alt="logo" class="footer-logo" />
          <!-- Footer Copyright Text Start -->
          <div class="copyright-text text-md-center text-start">
            <p>2023 Copyright Exvent . All Rights Reserved</p>
          </div>
          <!-- Footer Copyright Text End -->
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-7">
        <div class="footer-widget d-lg-flex justify-content-lg-end">
          <div class="widget-wrapper text-lg-start">
            <div class="footer-social-2">
              <div class="social-title-2">
                <h4>Contact With us</h4>
              </div>
              <ul class="social-list text-sm-start text-center">
                <li>
                  <a href="www.facebook.com"
                    ><i class="fab fa-facebook-f"></i></a
                  >
                </li>
                <li>
                  <a href="www.twitter.com"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="www.dribble.com"><i class="fab fa-dribbble"></i></a>
                </li>
                <li>
                  <a href="www.behance.com"><i class="fab fa-behance"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer Section End -->
